absl-py
addict
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
asgiref
async-timeout
attrs
audioread
babel
bangla
beautifulsoup4
blinker
blis
bnnumerizer
bnunicodenormalizer
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
comtypes
confection
contourpy
coqpit
cycler
cymem
Cython
dateparser
decorator
diffusers
distro
docopt
edge-tts
einops
encodec
exceptiongroup
filelock
Flask
flask-cors
fonttools
frozenlist
fsspec
g2pkk
gdown
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
googletrans
grpcio
grpcio-status
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en
gruut-lang-es
gruut-lang-fr
gTTS
h11
h2
hangul-romanize
hpack
hstspreload
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
imageio
imageio-ffmpeg
importlib_metadata
inflect
itsdangerous
jamo
jieba
Jinja2
jiter
joblib
jsonlines
kiwisolver
langcodes
language_data
lazy_loader
librosa
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
moviepy
mpmath
msgpack
multidict
murmurhash
networkx
nltk
noisereduce
num2words
numba
numpy
openai
opencv-python
packaging
pandas
pillow
platformdirs
pooch
preshed
proglog
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pygame
Pygments
pynndescent
pyparsing
pypinyin
pysbd
PySocks
python-crfsuite
python-dateutil
python-dotenv
pyttsx3
pytz
PyYAML
regex
replicate
requests
rfc3986
rich
rsa
safetensors
scikit-learn
scipy
shellingham
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
srsly
srt
SudachiDict-core
SudachiPy
sympy
tabulate
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tokenizers
torch
torchaudio
tqdm
trainer
transformers
translator
TTS
typeguard
typer
typing-inspection
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
uritemplate
urllib3
wasabi
weasel
Werkzeug
wrapt
yarl
zipp
