Flask
gunicorn
flask-cors
pyttsx3
edge-tts
TTS
torch
transformers
requests
numpy<2.0
opencv-python
moviepy
librosa
noisereduce
soundfile
SpeechRecognition
googletrans==4.0.0rc1
gtts
pygame
google-cloud-texttospeech
google-generativeai

